.roster-content
  padding: 20px 0

.roster-category
  margin-bottom: 20px

.roster__header
  width: 100%
  margin-top: 10px
  margin-bottom: 10px

  color: #c4c4c4
  font-size: 18px
  text-align: center

.roster__player

  font-size: .8em

  padding: 5px 20px
  margin-top: 5px
  min-height: 34px
  line-height: 1.2em

  display: grid
  grid-gap: 5px
  gap: 5px
  grid-template-columns: auto 50px 110px
  grid-template-rows: auto
  align-items: center

  &:nth-child(2n+1)
    background: rgba(30,30,30,.6392156862745098)

  &:hover
    background: hsla(0,0%,39.6%,.6509803921568628)

.player-name
  font-size: 16px
  display: flex
  align-items: center
  position: relative

.player-stars
  font-size: 18px
  display: flex
  flex-wrap: wrap

  & > span
    display: flex

  &__fraction
    overflow: hidden
    display: inline-block
    height: 18px
    position: relative

