<div class="roster">
  <div class="roster-content">
    <div class="roster-category lineup">
      <div class="roster__header">Lineup</div>

      <ul class="roster__list">
        <app-player *ngFor="let player of lineup" [player]="player"></app-player>
      </ul>
    </div>

    <div class="roster-category rotation">
      <div class="roster__header">Rotation</div>

      <ul class="roster__list">
        <app-player *ngFor="let player of rotation" [player]="player"></app-player>
      </ul>
    </div>
  </div>
</div>
