.team-info
  padding: 20px 40px 20px 15px
  border-bottom: 1px solid #fff

.team-info__top
  width: 100%
  display: flex

.team-info__logo-wrapper
  display: flex
  flex-direction: column
  align-items: center

.team-info__logo
  height: 40px
  width: 40px
  font-size: 28px
  margin-top: 5px

  display: flex
  align-items: center

  border-radius: 50%
  justify-content: center
  flex-shrink: 0

.team-info__name-wrapper
  display: flex
  flex-direction: column
  margin-left: 10px
  width: 100%

.team-info__name
  font-size: 22px
  line-height: 1.2em
  font-weight: 400

.team-info__slogan
  font-style: italic
  font-weight: 400

.team-info__bottom
  display: flex
  flex-direction: column
  margin-left: 10px
  width: 100%

.team-info__extra-wrapper
  margin-top: 10px
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  flex-wrap: wrap

.team-info__arcana
  border: 1px solid #fff
  padding: 4px 10px
  border-radius: 5px
  width: -webkit-fit-content
  width: -moz-fit-content
  width: fit-content

  margin-left: 0
  font-size: 12px

.team-info__fave
  font-size: 12px

  display: flex
  flex-direction: row
  align-items: center
  white-space: nowrap
  border-radius: 20px
  height: 32px
  padding: 0px 15px
  margin: auto 0 auto auto
