<div class="team-info">

<div class="team-info__top">
  <div class="team-info__logo-wrapper">
    <div class="team-info__logo" style="background-color: rgb(92, 28, 28)">
      🚧
    </div>
  </div>

  <div class="team-info__name-wrapper">
    <h2 class="team-info__name">Montréal Detours</h2>
    <div class="team-info__slogan">"Rue barrée."</div>
  </div>
</div>

<div class="team-info__bottom">
  <div class="team-info__extra-wrapper">
    <div class="team-info__arcana">
      XV The Devil
    </div>
    <div class="team-info__fave" style="background-color: rgb(92, 28,28)">
      Favourite Team
    </div>
  </div>
</div>

</div>
