<div class="team-info">

<div class="team-info__top">
  <div class="team-info__logo-wrapper">
    <div id="team-info__logo" class="team-info__logo" style="background-color: {{ teamColour }}"
      (click)="onToggleLogoPicker()">
      {{ teamEmoji }}
    </div>
  </div>

  <div class="team-info__name-wrapper">
    <h2 class="team-info__name">
      <input type="text" value="{{ teamName}}"/>
    </h2>
    <div class="team-info__slogan">
      <input type="text" value="{{ teamSlogan }}" />
    </div>
  </div>
</div>

<div class="team-info__bottom">
  <div class="team-info__extra-wrapper">
    <div class="team-info__arcana" contenteditable role="textbox">
      {{ teamArcana }}
    </div>
    <div [ngClass]="{'team-info__fave': true, 'set': fluteSet}"
         style="background-color: {{ teamColour }}" (click)="onToggleFlute()">
      <span class="fave-set">Favourite Team</span>
      <span class="fave-flute">
        <svg width="20" height="20">
          <image xlink:href="assets/images/flute.svg" width="20" height="20" />
        </svg>Choose Team
      </span>
    </div>
  </div>
</div>

</div>

<div [ngClass]="{'logo-tooltip': true, 'show': showLogoPicker}" style="{{
  logoPickerPosition }}">
  <div class="colour-picker" style="background-color: {{ teamColour }}"
    [style.color]="teamColour" [(colorPicker)]="teamColour"></div>
  <input type="text" [(ngModel)]="teamEmoji" />
</div>

